@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Montserrat&family=Noto+Sans+TC:wght@900&family=Roboto:wght@700&display=swap');

@font-face {
  font-family: GenSenRounded;
  src: url(../webfonts/ttc/GenSenRounded-R.ttc);
}


.box {
  width: 100vw;
  height: 100vh;
  background-color: rgba(245, 222, 168, .5);
  box-sizing: border-box;
  overflow: hidden;
  font-family: GenSenRounded;

}

.upper {
  height: 50%;
  padding-top: 30px;
  
}

.upper h2 {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
    
}

.upper ul {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  
}

.upper li a {
  display: inline-block;
  width: 250px;
  height: 250px;
  line-height: 290px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: all .5s;
  font-size: 1.3rem;
  background-image: url(../img/foot.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
}

.upper li a:hover {
  text-decoration: #fff underline;
  transform: translateY(-20px);
}



.lower {
  width: 100%;
  height: 50%;
  position: relative;

}

#bg {
  width: 100%;
  position: absolute;
  z-index: 2;
}

#booby {
  width: 20%;
  position: absolute;
  bottom: 100px;
  right: 50px;
  z-index: 1;
}

.lower ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 285px;
  width: 30%;
  font-size: 1.5rem;
  position: absolute;
  left: 35%;
  z-index: 3;
  
}

.CTA {
  font-family: 'Courgette', cursive;
}

.lower a {
  display: block;
  width: 60px;
  height: 60px;
  text-indent: 101%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .5s;
}

.lower a:hover {
  transform: translateY(-15px);
}

.fb {
  background-image: url(../img/fb.svg);
}

.fb:hover {
  background-image: url(../img/fb_2.svg);
}

.line {
  background-image: url(../img/line.svg);
}

.line:hover {
  background-image: url(../img/line-y.svg);
}

.ig {
  background-image: url(../img/ig.svg);
}

.ig:hover {
  background-image: url(../img/ig-y.svg);
}

.yt {
  background-image: url(../img/yt.svg);
}

.yt:hover {
  background-image: url(../img/yt_2.svg);
}









