@charset "UTF-8";

@font-face {
  font-family: GenSenRounded;
  src: url(../webfonts/ttc/GenSenRounded-R.ttc);
}


html, body { margin: 0; padding: 0; overflow-x: clip;}

.box > * {
  box-sizing: border-box;
  font-family: GenSenRounded;
  margin: auto;
}

header {
  height: 60px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  background-color: #F5DEA8;
  /* position sticky to top */
  position: sticky;
  top: 0;
  z-index: 10;
  
}

.menu {
  display: flex;
  
}

.menu li {
  width: 80px;
  text-align: center;
}

.menu a {
  padding: 10px 0;
  font-family: GensenRounded;
  text-decoration: none;
  color: #B61C31;

}

.menu a:hover {
  border-bottom: 2px solid #B61C31;
}

header img.logo {
  width: 100px;
  text-align: center;
}

nav {
  display: flex;
  width: 320px;
  justify-content: space-between;
  align-items: center;
  
  
}

nav a, nav img {
  display: inline-block;
}

input {
  width: 200px;
  height: 45px;
  border-radius: 22px;
  padding: 10px 20px;
  backdrop-filter: blur(2px);
  /*要搭配rgba的背景色語法*/
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(254, 232, 229, 0.2);
  box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  
}

.search {
  width: 30px;
  height: 30px;
  /* position relative to <nav> */
  position: relative;
  right: 50px;
  cursor: pointer;
  
}

.login {
  width: 42px;
  height: 42px;
  margin-right: 20px;

}

.cart {
  width: 35px;
  height: 35px;
  
}

/* 主要內容區 */

main {
  height: 90vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(245,222,168,1) 58%);
  /* border: 1px solid #000; */
  z-index: 4;
  position: relative;
  
}

.cloud {
  width: 150px;
  /* position relative to <main> */
  position: absolute;
  z-index: 1;
  top: 30px;
  left: -120px;
  
}

.content {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex: 1;
  /* border: 1px solid #000; */
  

}

.item {
  width: 456px;
  height: 547px;
  background-color: #FFFFFF;
  border-radius: 250px 250px 45px 45px;
  /* position relative to div.content */
  position: relative;
  z-index: 3;
  transition: all .5s;
}

.item:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ranking  {
  /* position relative to div.item */
  position: absolute;
  right: 10px;
  top: -20px;
  z-index: 2;

}


.item .info {
  /* position relative to div.item */
  position: absolute;
  top: 80px;
  left: 120px;
}

.item .info {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.item .info span {
  color: #f00;
}

.item img {
  /* position relative to div.item */
  position: absolute;
  
}


.item .tent_1 {
  width: 100%;
  top: 208px;
  left: -130px; 
}

.item .tent_2 {
  width: 110%;
  top: 239px;
  left: -153px;
}

footer {
  width: 100%;
  height: 300px;
  position: relative;
  background-color: #F5DEA8;
}

.lawn {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: bottom;
  
}

.tree {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -150px;
  z-index: 5;
  
  
}

.footprint {
  width: 150px;
  height: 200px;
  position: absolute;
  z-index: 2;
  right: 0px;
  bottom: 100px;
  transform: rotate(-20deg);
  z-index: 2;
}









