@charset "UTF-8";

@font-face {
  font-family: GenSenRounded;
  src: url(../webfonts/ttc/GenSenRounded-R.ttc);
}

.box {
  width: 100vw;
  
}

.box > * {
  box-sizing: border-box;
  font-family: GenSenRounded;
}

header {
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  background-color: #F5DEA8;
  position: sticky;
  top: 0;
  
}

.menu {
  display: flex;
  
}

.menu li {
  width: 80px;
  text-align: center;
}

.menu a {
  padding: 10px 0;
  font-family: GensenRounded;
  text-decoration: none;
  color: #B61C31;

}

.menu a:hover {
  border-bottom: 2px solid #B61C31;
}

header img.logo {
  width: 100px;
  text-align: center;
}

nav {
  display: flex;
  width: 320px;
  justify-content: space-between;
  align-items: center;
  
  
}

nav a, nav img {
  display: inline-block;
}

input {
  width: 200px;
  height: 45px;
  border-radius: 22px;
  padding: 10px 20px;
  backdrop-filter: blur(2px);
  /*要搭配rgba的背景色語法*/
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(254, 232, 229, 0.2);
  box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  
}

.search {
  width: 30px;
  height: 30px;
  position: relative;
  right: 50px;
  cursor: pointer;
  
}

.login {
  width: 42px;
  height: 42px;
  margin-right: 20px;

}

.cart {
  width: 35px;
  height: 35px;
  
}

/* 主要內容區 */

main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(179.57deg, #FFFFFF 5.41%, #F8E9C5 78.63%, #F5DEA8 101.34%);
  
}

.cloud {
  width: 150px;
  position: relative;
  top: 300px;
  z-index: 1;
}

.cloud1 {
  left: 300px;
}

.cloud2 {
  left: 750px;

}

.cloud3 {
  left: 1200px;
}

.content {
  width: 100%;
  height: 70vh;
  /* border: 1px solid #000; */
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  

}

.item {
  /* border: 1px solid #000; */
  width: 456px;
  height: 547px;
  background-color: #FFFFFF;
  border-radius: 250px 250px 45px 45px;
  position: relative;
  margin: 0 100px;
  z-index: 1;
}

.item2 {
  height: 602px;
}

.item h2 {
  font-size: 3rem;
  letter-spacing: 10px;
  position: absolute;
  right: 20px;
  top: 0px;
}

.content .item .info {
  position: absolute;
  top: 80px;
  left: 120px;
}

.item .info {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.item .info span {
  color: #f00;
}

.item img {
  position: absolute;
  
}


.item .tent_1 {
  width: 100%;
  top: 208px;
  left: -130px; 
}

.item .tent_2 {
  width: 110%;
  top: 239px;
  left: -153px;
}

.lawn {
  width: 100vw;
  position: absolute;
  bottom: -110px;
  left: 0;

  
}



