@charset "UTF-8";

@font-face {
  font-family: GenSenRounded;
  src: url(../webfonts/ttc/GenSenRounded-R.ttc);
}


html,
body {
  overflow-x: clip;
}

.box>* {
  box-sizing: border-box;
  font-family: GenSenRounded;
  margin: auto;
}

img {
  display: block;
  width: 100%;
}

header {
  height: 70px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F5DEA8;
  /* position sticky to top */
  position: sticky;
  top: 0;
  z-index: 10;

}

.menu {
  display: flex;

}

.menu li {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.menu a {
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  color: #B61C31;

}

.menu a:hover {
  border-bottom: 2px solid #B61C31;
}

.logo {
  display: inline-block;
  width: 100px;

}

.searchbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


#search {
  position: relative;
  margin-right: 10px;
}

input {
  width: 250px;
  height: 50px;
  border-radius: 22px;
  padding: 10px 20px;
  font-size: 1.2rem;
  backdrop-filter: blur(2px);
  /*要搭配rgba的背景色語法*/
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(254, 232, 229, 0.2);
  box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.search_btn {
  background-color: transparent;
  border: none;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 3px;
  margin: 2px 0;
  cursor: pointer;

}

.icon {
  display: flex;
  width: 150px;
  justify-content: space-evenly;
  align-items: center;

}

.cart {
  width: 45px;
  height: 45px;
}

/* 主要內容區 */

main {
  padding-top: 230px;
  height: 93vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(245, 222, 168, 1) 58%);
  position: relative;

}

.cloud {
  width: 150px;
  /* 絕對定位於main */
  position: absolute;
  z-index: 1;
  
}

.cloud1 {
  top: 150px;
  right: 550px;
}

.cloud2 {
  top: 100px;
  right: 200px;
}

.cloud3 {
  top: 50px;
  right: 400px;
}



.content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;



}

.item {
  width: 456px;
  height: 546px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 250px 250px 45px 45px;
  position: relative;
  transition: all .5s;
  /* border: 1px solid #000; */
  z-index: 3;
}

.item:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.color {
  display: flex;
  width: 108px;
  justify-content: space-between;
  margin-left: 300px;
  
}

.color li {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  
}

.color1 {
  background-image: url(../img/color1.svg);
}

.color2 {
  background-image: url(../img/color2.svg);
}

.color3 {
  background-image: url(../img/color3.svg);
}

.list {
  margin-top: 20px;
  margin-left: 285px;
}

.list li a{
  display: block;
  width: 140px;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  text-align: center;
  background-color: rgba(120, 179, 187, .7);
  margin-bottom: 6px;
  text-decoration: none;
  color: #000;
  
}

.ranking {
  /* 絕對定位於.item */
  position: absolute;
  width: 100px;
  height: 100px;
  right: 12%;
  top: 50px;
}

.info {
  margin-left: 100px;
  margin-top: 100px;
  width: 50%;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.info>* {
  padding-bottom: 20px;
}

.info p {
  font-size: 14px;
  padding-bottom: 10px;
}

.info span {
  color: #B61C31;
  font-size: 1.5rem;
  
}

.tent {
  /* 絕對定位於.item */
  position: absolute;

}

.tent_1 {
  left: -150px;
  margin-top: 20px;
}

.tent_2,
.tent_3 {
  width: 105%;
  left: -130px;
  margin-top: 30px;
}

.forest,
.lawn {
  position: absolute;

}

.forest {
  bottom: 180px;
  z-index: 2;
}

.lawn {
  bottom: 0px;
  z-index: 1;
}

.footprint {
  width: 150px;
  height: 180px;
  position: absolute;
  right: 0;
  bottom: 30px;
  transform: rotate(-20deg);
  z-index: 2;
}