@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Montserrat&family=Noto+Sans+TC:wght@900&family=Roboto:wght@700&display=swap');

/* 英文字體 */
@font-face {
  font-family: 'Courgette', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Montserrat&family=Noto+Sans+TC:wght@900&family=Roboto:wght@700&display=swap');
  unicode-range: U+000-5FF, U+1e00-1fff, U+2000-2300;
}

@font-face {
  font-family: GenSenRounded;
  src: url(../webfonts/ttc/GenSenRounded-R.ttc);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: GenSenRounded;
}

.wrapper {
  max-width: 1920px;
}

img {
  display: block;
  width: 100%;
}

/* goTop按鈕 */
#fixedTop {
  display: none;
  cursor: pointer;
  width: 5%;
  height: 100px;
  background-image: url(../images/top.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 10;

}
@media (max-width: 768px) {
  #fixedTop {
    width: 12%;
  }
}
@media (max-width: 576px) {
  #fixedTop {
    width: 20%;
  }
}

header {
  height: 70px;
  line-height: 70px;
  background-color: #F5DEA8;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  font-family: GenSenRounded;
}

.menu {
  display: flex;

}

.dropdown {
  display: inline-block;
  text-decoration: none;
  padding: 0 10px;
  font-size: 1.2rem;
  color: #B61C31;
  text-align: center;
}

.dropdown:hover {
  background-image: url(../images/circle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.dropdown-item {
  display: none;
  background-color: #F5DEA8;
  border-radius: 0 0 12px 12px;
  text-align: center;
}

.dropdown-item a {
  display: block;
  text-decoration: none;
  color: #B61C31;
}

.dropdown-item a::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: #B61C31;
  transition: .5s;
  margin: 0 auto;
  margin-top: -15px;
}

.dropdown-item a:hover::after {
  width: 70%;
}

.logo {
  margin-top: 12px;
  margin-right: 80px;
  width: 100px;

}

.searchbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


#search {
  position: relative;
  margin-right: 10px;
}

input {
  width: 250px;
  height: 50px;
  border-radius: 22px;
  padding: 10px 20px;
  font-size: 1.2rem;
  backdrop-filter: blur(2px);
  /*要搭配rgba的背景色語法*/
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;

}

input:focus {
  width: 300px;
  outline: none;
}

.search_btn {
  background-color: transparent;
  border: none;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 9px;
  right: 3px;
  margin: 2px 0;
  cursor: pointer;

}

.icon {
  display: flex;
  width: 150px;
  justify-content: space-evenly;
  align-items: center;

}

.cart {
  width: 45px;
  height: 45px;
}

/* Header RWD */

@media (min-width: 769px) {

  .menuL,
  .back,
  .magXs {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    height: 50px;
    padding: 0;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav,
  .searchbar {
    display: none;
  }

  .menuL {
    width: 8%;
  }

  .menuL.active {
    opacity: 0;
  }

  .back {
    width: 6%;
    position: absolute;
    left: 6px;
    opacity: 0;
  }

  .back.active {
    opacity: 1;
  }

  .logo {
    width: 11%;
    margin: 0;
    margin-right: 20px;
  }

  .magXs {
    width: 3%;
    padding-top: 5px;
    margin-right: 5px;
    transform: rotate(-20deg);
  }

}

@media (max-width: 576px) {
  header {
    height: 50px;
    align-items: center;
  }

  nav,
  .searchbar {
    display: none;
  }

  .menuL {
    width: 15%;
  }

  .back {
    width: 10%;
    left: 8px;
  }

  .logo {
    width: 20%;
  }

  .magXs {
    width: 6%;
    padding-top: 5px;
  }

}

/* Header RWD */

@media (min-width: 769px) {

  .menuL,
  .back,
  .magXs {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    height: 50px;
    padding: 0;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav,
  .searchbar {
    display: none;
  }

  .menuL {
    width: 8%;
  }

  .menuL.active {
    opacity: 0;
  }

  .back {
    width: 6%;
    position: absolute;
    left: 6px;
    opacity: 0;
  }

  .back.active {
    opacity: 1;
  }

  .logo {
    width: 11%;
    margin: 0;
    margin-right: 20px;
  }

  .magXs {
    width: 3%;
    padding-top: 5px;
    margin-right: 5px;
    transform: rotate(-20deg);
  }

}

@media (max-width: 576px) {
  header {
    height: 50px;
    align-items: center;
  }

  nav,
  .searchbar {
    display: none;
  }

  .menuL {
    width: 15%;
  }

  .back {
    width: 10%;
    left: 8px;
  }

  .logo {
    width: 20%;
  }

  .magXs {
    width: 6%;
    padding-top: 5px;
  }

}

/* Offcanvas 主選單 */

@media (min-width: 769px) {
  .slide-menuM {
    display: none;
  }
}

@media (max-width: 768px) {
  .slide-menuM {
    position: absolute;
    top: 50px;
    right: -100%;
    width: 100%;
    height: 974px;
    background-color: rgba(245, 222, 168, 1);
    z-index: 20;
    transition: .5s;
  }

  .slide-menuM.active {
    right: 0%;
  }

  .slide-menuM .upper {
    height: 60%;
    padding-top: 30px;
  }

  .slide-menuM .upper ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
  }

  .slide-menuM .upper ul li {
    width: 250px;
    height: 250px;
    background-image: url(../images/foot.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-right: 10px;
  }

  .slide-menuM .upper li a {
    display: block;
    width: 50%;
    font-size: 1.4em;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 110px;
    color: #fff;
  }

  .slide-menuM .upper li a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    margin: 0 auto;
    background-color: #fff;
    transition: .5s;
  }

  .upper li:hover a::after {
    width: 90%;
  }

  .slide-menuM .lower {
    height: 40%;
    background-image: url(../images/footer.png);
    background-size: cover;
    display: flex;
    align-items: end;
  }

  #booby {
    position: absolute;
    width: 25%;
    bottom: 150px;
    right: 50px;
    z-index: 1;
    animation: booby 2s linear infinite alternate;
  }

  @keyframes booby {
    0% {
      right: 0;
      bottom: 150px;
    }

    25% {
      right: 50px;
      bottom: 140px;
    }

    50% {
      right: 75px;
      bottom: 160px;
    }

    100% {
      right: 0px;
      bottom: 150px;
    }
  }

  .slide-menuM .lower .area {
    width: 60%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slide-menuM .lower .CTA {
    font-size: 2.5em;
    font-family: 'Courgette', cursive;
  }

  .slide-menuM .lower .area ul {
    display: flex;
    margin-top: 30px;
  }

  .slide-menuM .lower .area a {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 15px;
    text-indent: 101%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s;
  }

  .fb {
    background-image: url(../images/fb.svg);
  }

  .line {
    background-image: url(../images/line.svg);
  }

  .ig {
    background-image: url(../images/ig.svg);
  }

  .yt {
    background-image: url(../images/yt.svg);
  }
}

@media (max-width: 576px) {
  .slide-menuM {
    height: 794px;
  }

  .slide-menuM .upper ul li {
    width: 130px;
    height: 130px;
    padding-right: 2px;
  }

  .slide-menuM .upper ul li a {
    margin-top: 40px;
    font-size: .7em;
  }

  .slide-menuM .upper li a::after {
    margin-top: -20px;
  }

  #booby {
    width: 20%;
  }

  @keyframes booby {
    0% {
      right: 0;
      bottom: 150px;
    }

    25% {
      right: 25px;
      bottom: 140px;
    }

    50% {
      right: 50px;
      bottom: 160px;
    }

    100% {
      right: 0px;
      bottom: 150px;
    }
  }

  .slide-menuM .lower .CTA {
    font-size: 2em;
  }

  .slide-menuM .lower .area a {
    width: 50px;
    height: 50px;
  }
}


/* 主要內容區 */

main {
  padding-top: 50px;
  background: linear-gradient(179.57deg, #FDF8EE 10.49%, #F8E9C5 50.63%, #F5DEA8 100.34%);
  position: relative;
}


.sidebar {
  width: 80px;
  height: 360px;
  border: 2px solid #CC4058;
  border-radius: 0px 30px 30px 0px;
  background-color: #fff;
  position: fixed;
  left: -70px;
  top: 120px;
  transition: all 0.5s;
  z-index: 5;

}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.sidebar:hover {
  left: -1px;
  cursor: pointer;
}

.sidebar img {
  width: 44px
}

.upper {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home {
  height: 58px;
  border-radius: 0px 0px 30px 0px;
  background-color: #CC4058;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Swiper */

@media (min-width: 769px) {
  #campTentP, #HatP, #ShirtP, #PackP, #ChairP,
  #campTentM, #HatM, #ShirtM, #PackM, #ChairM  {
    display: none;
  }
}

@media (max-width: 768px) {
  #campTent, #Hat, #Shirt, #Pack, #Chair,
  #campTentM, #HatM, #ShirtM, #PackM, #ChairM {
    display: none;
  }
  #campTentP, #HatP, #ShirtP, #PackP, #ChairP {
    display: block;
  }
}

@media (max-width: 576px) {
  #campTentP, #HatP, #ShirtP, #PackP, #ChairP {
    display: none;
  }
  #campTentM, #HatM, #ShirtM, #PackM, #ChairM {
    display: block;
  }
  .swiper {
    height: 70vh;
  }
}

.swiper::after {
  content: "";
  margin-top: 10px;
  display: block;
  width: 60%;
  height: 5px;
  margin: 0 auto;
  background-color: rgba(182, 28, 49, .2);

}
@media (max-width: 768px) {
  .swiper::after {
    display: none;
  }
}

.swiper>h3 {
  position: absolute;
  font-size: 1.5rem;
  top: 50px;
  left: 50px;
  z-index: 2;
}
@media (max-width: 576px) {
  .swiper>h3 {
    font-size: 1.2rem;
    top: 40px;
    left: 35px;
  }
}



.swiper>h3::after {
  content: "";
  margin-top: 10px;
  display: block;
  width: 0%;
  height: 3px;
  background-color: #B61C31;

}

.swiper>h3:hover::after {
  width: 100%;
  transition: all 0.35s;
}

.swiper>img {
  position: absolute;
  width: 9%;
  left: 100px;
  top: 10px;
  z-index: 1;
}

@media (max-width: 768px) {
  .swiper>img {
    width: 25%;
    left: 50px;
  }
}


@media (max-width: 576px) {
  .swiper>img {
    width: 35%;
    left: 20px;
  }
}

.swiper-slide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
}


.slide-content {
  width: 456px;
  height: 546px;
  border-radius: 250px 250px 45px 45px;
  background: #fff;
  transition: all .5s;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .slide-content {
    width: 320px;
    height: 382px;
  }

}

.slide-content:hover {
  transform: translateY(-20px);
  box-shadow: 10px 10px rgba(204, 64, 88, .8);
}

@media (max-width: 768px) {
  .slide-content:hover {
    transform: none;
    box-shadow: none;
  }
}

.color {
  display: flex;
  width: 108px;
  justify-content: space-between;
  margin-left: 300px;
}
@media (max-width: 768px) {
  .color {
    margin-left: 190px;
    margin-top: -30px;
  }
}

.color li {
  width: 30px;
  height: 30px;
  border-radius: 15px;

}

.color1 {
  background-image: url(../images/color1.svg);
}

.color2 {
  background-image: url(../images/color2.svg);
}

.color3 {
  background-image: url(../images/color3.svg);
}

.list {
  margin-top: 20px;
  margin-left: 285px;
}

@media (max-width: 768px) {
  .list {
    margin-left: 185px;
  }
}

.list li {
  width: 140px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff;
  margin-bottom: 6px;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  box-shadow: 0px 3px #F5DEA8;

}
@media (max-width: 768px) {
  .list li {
    width: 120px;
    height: 40px;
    margin-bottom: 10px;
    box-shadow: 1px 2px #F5DEA8;
    background-size: 70%;
    
  }
}

.list li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#shopee {
  background-color: #EE4E2E;
  background-image: url(../images/shopee.svg);
}

#momentum {
  background-image: url(../images/momentum.svg);
}

#books {
  background-image: url(../images/books.svg);
}

#pcHome {
  background-image: url(../images/pchome.svg);
  margin-bottom: 20px;
}

.ranking {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 12%;
  top: 50px;
}

@media (max-width: 768px) {
  .ranking {
    width: 80px;
    height: 80px;
    right: 20px;
    top: -30px;
  }
}

.info {
  margin-left: 100px;
  margin-top: 100px;
  width: 220px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .info {
    margin-left: 50px;
    margin-top: 60px;
    font-size: 16px;
  }
}

.info>* {
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .info>* {
    padding: 0;
  }
}

.info h3,
.info p {
  color: #4c4c4c;
}
@media (max-width: 768px) {
  .info h3 {
    font-size: .8rem;
    margin-bottom: .5em;
  }
}

.info p {
  font-size: 14px;
  padding-bottom: 10px;
}

.info span {
  color: #B61C31;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .info span {
    font-size: 1.2rem;
  }
}

.tent {
  width: 98%;
  position: absolute;
  height: 80%;
  left: -130px;
  top: 240px;
}

@media (max-width: 768px) {
  .tent {
    width: 85%;
    left: -45px;
    top: 180px;
  }
}

.tent_2 {
  width: 105%;
  left: -180px;
  top: 80px;
}
@media (max-width: 768px) {
  .tent_2 {
    width: 85%;
    left: -60px;
    top: 100px;
  }
}
@media (max-width: 576px) {
  .tent_2 {
    transform: scale(.9);
    left: -55px;
  }
}

.tent_3 {
  width: 90%;
  left: -130px;
  top: 120px;
}
@media (max-width: 768px) {
  .tent_3 {
    width: 85%;
    left: -80px;
    top: 100px;
  }
}
@media (max-width: 576px) {
  .tent_3 {
    transform: scale(.8);
    left: -60px;
  }
}

.tent_4 {
  width: 70%;
  left: -70px;
  top: 190px;
}
@media (max-width: 768px) {
  .tent_4 {
    top: 150px;
    left: -50px;
  }
}
@media (max-width: 576px) {
  .tent_4 {
    left: -35px;
  }
}

.tent_5 {
  width: 70%;
  left: -50px;
  top: 180px;
}
@media (max-width: 768px) {
  .tent_5 {
    top: 130px;
  }
}
@media (max-width: 576px) {
  .tent_5 {
    left: -30px;
  }
}

.cap {
  position: absolute;
  width: 70%;
  left: -20px;
}
@media (max-width: 768px) {
  .cap {
    top: 170px;
    left: -25px;
  }
}

.cap2 {
  width: 60%;
  top: 220px;
  left: -30px;
}
@media (max-width: 768px) {
  .cap2 {
    top: 160px;
  }
}

.cap3 {
  top: 250px;
}
@media (max-width: 768px) {
  .cap3 {
    top: 180px;
    left: -50px;
    transform: scale(1.2);
  }
}
@media (max-width: 576px) {
  .cap3 {
    transform: scale(1);
    left: -30px;
  }
}

.cap4 {
  top: 230px;
}
@media (max-width: 768px) {
  .cap4 {
    top: 160px;
  }
}

.cap5 {
  top: 200px;
  left: -50px;
}
@media (max-width: 768px) {
  .cap5 {
    top: 160px;
  }
}
@media (max-width: 576px) {
  .cap5 {
    transform: scale(.9);
    left: -30px;
  }
}

.clothing {
  width: 70%;
  position: absolute;
  height: 80%;
  left: -50px;
  top: 210px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .clothing{
    top: 160px;
  }
}
@media (max-width: 576px) {
  .clothing {
    left: -30px;
  }
}

.parka {
  width: 60%;
  left: -30px;
}

.goretex {
  width: 60%;
  left: -30px;
}

.vest {
  width: 55%;
  top: 220px;
  left: 10px;
}
@media (max-width: 768px) {
  .vest {
    top: 150px;
    left: 0;
  }
}

.pack {
  position: absolute;
  width: 75%;
  left: -40px;
}

.pack2 {
  top: 250px;
}
@media (max-width: 768px) {
  .pack2 {
    top: 180px;
  }
}
@media (max-width: 576px) {
  .pack2 {
    transform: scale(.9);
  }
}

.pack3 {
  top: 150px;
  left: -80px;
}
@media (max-width: 768px) {
  .pack3 {
    top: 100px;
  }
}
@media (max-width: 576px) {
  .pack3 {
    transform: scale(.9);
    left: -60px;
  }
}

.campChair {
  position: absolute;
  width: 70%;
  top: 180px;
}
@media (max-width: 768px) {
  .campChair {
    top: 130px;
    left: -10px;
  }
}

.chair2 {
  width: 80%;
  left: -50px;
}

.chair3 {
  left: -40px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 100px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 3rem;
  color: #B61C31;
  content: '\f5d2';
  transform: rotate(-90deg);
  font-family: Material Symbols Outlined;
}

.swiper-button-next:after {
  transform: rotate(90deg);
}

.swiper-horizontal>.swiper-pagination-bullets {
  bottom: var(--swiper-pagination-bottom,100px);
}
@media (max-width: 576px) {
  .swiper-horizontal>.swiper-pagination-bullets {
    bottom: var(--swiper-pagination-bottom,50px);
  }
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,16px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,16px));
  background: #EE4E2E;
}
footer {
  height: 30vh;
  background-image: url(../images/footer.png);
  background-color: rgba(245, 222, 168);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
@media (max-width: 768px) {
  footer {
    height: 20vh;
    background-image: url(../images/grass_rwd.svg);
  }
}
