@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Montserrat&family=Noto+Sans+TC:wght@900&family=Roboto:wght@700&display=swap');

/* 英文字體 */
@font-face {
  font-family: 'Courgette', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Montserrat&family=Noto+Sans+TC:wght@900&family=Roboto:wght@700&display=swap');

}

/* 中文字體 */
@font-face {
  font-family: 'GenSenRounded';
  src: url(../webfonts/ttc/GenSenRounded-R.ttc);
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1920px;
  overflow: hidden;
  font-family: 'GenSenRounded';
  background: linear-gradient(182.18deg, #FFFFFF 6.61%, #FDF8EE 15.88%, #F8E9C5 55.54%, #F5DEA8 77.52%);
}


img {
  display: block;
  width: 100%;
}

/* goTop按鈕 */
#fixedTop {
  display: none;
  cursor: pointer;
  width: 5%;
  height: 100px;
  background-image: url(../images/top.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 10;

}

@media (max-width: 768px) {
  #fixedTop {
    width: 12%;
  }
}

@media (max-width: 576px) {
  #fixedTop {
    width: 20%;
  }
}

header {
  height: 70px;
  line-height: 70px;
  background-color: #F5DEA8;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0px;
  z-index: 10;
}

.menu {
  display: flex;
}

.dropdown {
  display: inline-block;
  text-decoration: none;
  padding: 0 10px;
  font-size: 1.4rem;
  color: #B61C31;
  text-align: center;
}

.dropdown:hover {
  background-image: url(../images/circle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.dropdown-item {
  display: none;
  background-color: #F5DEA8;
  border-radius: 0 0 12px 12px;
  text-align: center;
}

.dropdown-item a {
  display: block;
  text-decoration: none;
  color: #B61C31;
}

.dropdown-item a::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: #B61C31;
  transition: .5s;
  margin: 0 auto;
  margin-top: -15px;
}

.dropdown-item a:hover::after {
  width: 70%;
}

.logo {
  margin-top: 12px;
  margin-right: 35px;
  width: 100px;
}

.searchbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#search {
  position: relative;
  margin-right: 10px;
}

input {
  width: 250px;
  height: 50px;
  border-radius: 22px;
  padding: 10px 20px;
  font-size: 1.2rem;
  backdrop-filter: blur(2px);
  /*要搭配rgba的背景色語法*/
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;

}

input:focus {
  width: 300px;
  outline: none;
}

.search_btn {
  background-color: transparent;
  border: none;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 9px;
  right: 3px;
  margin: 2px 0;
  cursor: pointer;

}

.icon {
  display: flex;
  width: 150px;
  justify-content: space-evenly;
  align-items: center;

}

.cart {
  width: 45px;
  height: 45px;
}

/* Header RWD */

@media (min-width: 769px) {

  .menuL,
  .back,
  .magXs {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    height: 50px;
    padding: 0;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav,
  .searchbar {
    display: none;
  }

  .menuL {
    width: 8%;
  }

  .menuL.active {
    opacity: 0;
  }

  .back {
    width: 6%;
    position: absolute;
    left: 6px;
    opacity: 0;
  }

  .back.active {
    opacity: 1;
  }

  .logo {
    width: 11%;
    margin: 0;
    margin-right: 20px;
  }

  .magXs {
    width: 3%;
    padding-top: 5px;
    margin-right: 5px;
    transform: rotate(-20deg);
  }

}

@media (max-width: 576px) {
  header {
    height: 50px;
    align-items: center;
  }

  nav,
  .searchbar {
    display: none;
  }

  .menuL {
    width: 15%;
  }

  .back {
    width: 10%;
    left: 8px;
  }

  .logo {
    width: 20%;
  }

  .magXs {
    width: 6%;
    padding-top: 5px;
  }

}

/* Offcanvas 主選單 */

@media (min-width: 769px) {
  .slide-menuM {
    display: none;
  }
}

@media (max-width: 768px) {
  .slide-menuM {
    position: absolute;
    top: 50px;
    right: -100%;
    width: 100%;
    height: calc(100vh - 50px);
    background: linear-gradient(182.18deg, #FFFFFF 6.61%, #FDF8EE 15.88%, #F8E9C5 55.54%, #F5DEA8 77.52%);
    z-index: 20;
    transition: .5s;
  }

  .slide-menuM.active {
    right: 0%;
  }

  .slide-menuM .upper {
    height: 60%;
    padding-top: 30px;
  }

  .slide-menuM .upper ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
  }

  .slide-menuM .upper ul li {
    width: 250px;
    height: 250px;
    background-image: url(../images/foot.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-right: 10px;
  }

  .slide-menuM .upper li a {
    display: block;
    width: 50%;
    font-size: 1.4em;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 110px;
    color: #fff;
  }

  .slide-menuM .upper li a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    margin: 0 auto;
    background-color: #fff;
    transition: .5s;
  }

  .upper li:hover a::after {
    width: 90%;
  }

  .slide-menuM .lower {
    height: 40%;
    background-image: url(../images/footer.png);
    background-size: cover;
    display: flex;
    align-items: end;
  }

  #booby {
    position: absolute;
    width: 25%;
    bottom: 150px;
    right: 50px;
    z-index: 1;
    animation: booby 2s linear infinite alternate;
  }

  @keyframes booby {
    0% {
      right: 0;
      bottom: 150px;
    }

    25% {
      right: 50px;
      bottom: 140px;
    }

    50% {
      right: 75px;
      bottom: 160px;
    }

    100% {
      right: 0px;
      bottom: 150px;
    }
  }

  .slide-menuM .lower .area {
    width: 60%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slide-menuM .lower .CTA {
    color: #3d3d3d;
    font-size: 2.5em;
    font-family: 'Courgette', cursive;
  }

  .slide-menuM .lower .area ul {
    display: flex;
    margin-top: 30px;
  }

  .slide-menuM .lower .area a {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 15px;
    text-indent: 101%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s;
  }

  .fb {
    background-image: url(../images/fb.svg);
  }

  .line {
    background-image: url(../images/line.svg);
  }

  .ig {
    background-image: url(../images/ig.svg);
  }

  .yt {
    background-image: url(../images/yt.svg);
  }
}

@media (max-width: 576px) {
  .slide-menuM .upper ul li {
    width: 130px;
    height: 130px;
    padding-right: 2px;
  }

  .slide-menuM .upper ul li a {
    margin-top: 40px;
    font-size: .7em;
  }

  .slide-menuM .upper li a::after {
    margin-top: -20px;
  }

  #booby {
    width: 20%;
  }

  @keyframes booby {
    0% {
      right: 0;
      bottom: 150px;
    }

    25% {
      right: 25px;
      bottom: 140px;
    }

    50% {
      right: 50px;
      bottom: 160px;
    }

    100% {
      right: 0px;
      bottom: 150px;
    }
  }

  .slide-menuM .lower .CTA {
    font-size: 2em;
  }

  .slide-menuM .lower .area a {
    width: 50px;
    height: 50px;
  }
}

#upperPart,
#lowerPart {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {

  #upperPart,
  #lowerPart {
    width: 100%;
  }
}

#upperPart>* {
  text-align: center;
}

#upperPart h2 {
  font-size: 1.5rem;
  padding: 30px 0;
  font-weight: 700;
  color: #4c4c4c;
}

@media (max-width: 576px) {
  #upperPart h2 {
    font-size: 1.2rem;
    padding: 50px 0;
  }

}

#upperPart p {
  font-size: 1.2rem;
  line-height: 1.5;
  padding-bottom: 20px;
}

@media (max-width: 576px) {
  #upperPart p {
    font-size: .9rem;
    padding-bottom: 40px;
  }

}

iframe {
  width: 80%;
  height: 540px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  iframe {
    width: 90%;
    height: 450px;
  }
}

@media (max-width: 576px) {
  iframe {
    width: 90%;
    height: 200px;
    margin-bottom: 20px;
  }

}

@media (min-width: 769px) {
  #bird_path {
    display: none;
  }
}

@media (max-width: 768px) {
  #bird_path {
    width: 40%;
    margin: 50px auto;
  }

}

@media (max-width: 576px) {
  #bird_path {
    width: 35%;
    margin: 40px auto;
  }
}

.list {
  display: flex;
  width: 75%;
  margin: 50px auto;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .list {
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media (max-width: 576px) {
  .list {
    width: 100%;
    margin: 20px 0;
  }
}

.list li a {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background-color: #F0DAA5;
  display: block;
  text-decoration: none;
  color: #4c4c4c;
  position: relative;
  transition: .5s;
  box-shadow: 3px 0px 5px 0px rgb(76, 76, 76, .5);
}

@media (max-width: 768px) {
  .list li a:active {
    transform: scale(1.2);
    box-shadow: 0px 0px 10px #4c4c4c;
  }
}

@media (max-width: 576px) {
  .list li a {
    width: 160px;
    height: 160px;
    margin-bottom: 20px;
  }
}

.list li a:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px #4c4c4c;
}

.list li a h3 {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  font-weight: 700;
  font-size: 1.2rem;
}

@media (max-width: 576px) {
  .list li a h3 {
    margin-top: 0;
    padding-top: 20px;
  }
}

.list li a img {
  position: absolute;
}

.tent {
  transform: scale(0.8);
  top: 15px;
  left: 0px;
}

@media (max-width: 576px) {
  .tent {
    transform: scale(0.7);
    top: 6px;
  }
}

.bell {
  transform: scale(0.55);
  top: 2px;
}

.shirt {
  transform: scale(.9);
  top: 15px;
  left: 10px;
}

@media (max-width: 576px) {
  .shirt {
    left: 5px;
  }
}

.bag {
  transform: scale(.65);
  top: 25px;
}

#lowerPart {
  padding-top: 50px;
}

@media (max-width: 576px) {
  #lowerPart {
    padding-top: 30px;
    z-index: 1;
  }
}

#lowerPart>* {
  margin: 0 auto;

}

#lowerPart .slogan {
  width: 15%;
  transform: scale(0);
  margin-bottom: 100px;
  transition: all .8s;
}

#lowerPart .slogan.active {
  transform: scale(1.5);
}

@media (min-width: 769px) {
  #lowerPart .vertical {
    display: none;
  }
}

@media (max-width: 768px) {
  #lowerPart .horizontal {
    display: none;
  }

  #lowerPart .slogan {
    width: 30%;
    margin-bottom: 30px;
  }

  #lowerPart .vertical {
    margin-bottom: -30px;
  }

}

@media (max-width: 576px) {
  #lowerPart .slogan {
    margin-bottom: 0px;
  }

  #lowerPart .vertical {
    height: 80vh;
    margin-bottom: -40px;
  }
}

footer {
  height: 30vh;
  background-image: url(../images/grass_3.svg);
  background-size: cover;
  position: relative;
}

@media (max-width: 768px) {
  footer {
    background-image: url(../images/grass_rwd.svg);
  }
}

@media (max-width: 576px) {
  footer {
    height: 20vh;
  }
}

#birdwithbrand {
  width: 8%;
  position: absolute;
  left: 70px;
  top: 20px;
  z-index: 1;
}

@media (max-width: 768px) {
  #birdwithbrand {
    width: 20%;
    position: absolute;
    left: 70px;
    top: 30px;
  }
}

@media (max-width: 576px) {
  #birdwithbrand {
    width: 30%;
    left: 30px;
    top: -10px;
  }
}

#footprintleft {
  position: absolute;
  right: 50px;
  bottom: 10px;
  width: 5%;
  transform: rotate(-10deg);
}

@media (max-width: 768px) {
  #footprintleft {
    bottom: 20px;
    width: 15%;
  }
}


@media (max-width: 576px) {
  #footprintleft {
    width: 15%;
    right: 30px;
    bottom: 5px;
  }
}

.cloud {
  position: absolute;
  width: 5%;

}

.cloud1 {
  top: 10%;
  animation: muvleft 60s infinite alternate linear;
}

@keyframes muvleft {
  0% {
    left: -10%;
  }

  100% {
    left: 100%;
  }
}

.cloud2 {
  right: 10%;
  animation: muvRight 60s infinite alternate linear;
}

@keyframes muvRight {
  0% {
    right: -10%;
  }

  100% {
    right: 100%;
  }
}

@media (max-width: 768px) {
  .cloud {
    width: 20%;
  }

  .cloud1 {
    animation: muvleft 30s infinite alternate linear;
  }

  .cloud2 {
    animation: muvRight 30s infinite alternate linear;
  }
}